{% extends "index.html" %}
    {% block style %}
    {{ super() }}
        <link rel="stylesheet" href='{% static "css/register-form.css" %}'>
    {% endblock %}
{% block content %}

    <div class="content">
        <h1>{{ title }}</h1>

        {% if db_error %}
            <div class="alert alert-danger">
                <span class="alert-message">{{ db_error }}</span>
            </div>
        {% endif %}

        {% if forms_errors %}
            <ul>
                {% for key, value in forms_errors %}
                    <li><strong>{{ key }}</strong> : {{ value }}</li>
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}

        <div class="form-container">
            {% block message %}
                {% messages %}
            {% endblock %}
            <form id="username-form" method="post">
                {% csrf %}

                <div class="fields-container">
                    {% form.register_form.username %}
                    {% form.register_form.email %}
                    {% form.register_form.password %}
                    {% form.register_form.age %}
                </div>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <a href="{% link 'index' %}">Home</a>
    <p>&copy; 2026 My Web Application</p>
{% endblock %}