{% extends "index.html" %}
{% block content %}
    <div class="content">
        <h1>{{ title }}</h1>
        {% if messages %}
            {% for msg in messages %}
                <ul {{ msg }}>
            {% endfor %}
        {% endif %}

        {% if db_error %}
            <div class="alert alert-danger">
                <span class="alert-message">{{ db_error }}</span>
            </div>
        {% endif %}

        {% if forms_errors %}
            <div class="alert alert-warning">
                <div class="alert-message">
                    <strong>Veuillez corriger les erreurs suivantes :</strong>
                    <ul>
                        {% for field, error in forms_errors %}
                            <li><strong>{{ field }} :</strong> {{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="form-container">
            <form id="username-form" method="post">
                {% csrf %}
                    <div class="form-container">
                        {{ form | form_html | safe }}
                    </div>
                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>

    {% block script %}
        <script {{ csp }} src='{% static "js/test_csrf.js" %}'></script>
    {% endblock %}

{% endblock %}
{% block footer %}
    <a href={% link "index" %}>Revenir à l'accueil</a>
    <p>&copy; 2025 My Web Application</p>
{% endblock %}
