# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env*

# Demo app
/demo-app/migration/src/
/demo-app/migration/src/snapshots/
/demo-app/migration/src/applied/


# Demo media (si tu veux l’ignorer)
/demo-app/media/


# Fichiers temporaires Claude Code
tmpclaude-*
/.claude/