<div class="field-group mb-3">
    <label for="id_{{ name }}" class="form-label">
        {{ label }}{% if required %} *{% endif %}
    </label>
    <select
        name="{{ name }}"
        id="id_{{ name }}"
        {# Utilisation de form-select pour la flèche Bootstrap #}
        class="form-select {% if error %}is-invalid{% endif %}"
        {% if required %}required{% endif %}>

        <option value="" {% if not value %}selected{% endif %}>-- Sélectionner --</option>

        {% for option in options %}
            <option
                value="{{ option.value }}"
                {% if option.value == value %}selected{% endif %}>
                {{ option.label }}
            </option>
        {% endfor %}
    </select>
    {% if error %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endif %}
</div>