<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Erreur serveur</title>
    <link rel="stylesheet" href="{{ rusti_static(file='css/error.css') }}">

</head>
<body>
    <div class="container">
        <div class="error-container">
            <div id="error-icon" class="error-icon">🔍</div>
            <h1 id="number-error" class="error-title">500</h1>
            <p class="error-message">Une erreur est survenue sur le serveur.</p>
            <a href="javascript:location.reload()" class="btn-retry">Réessayer</a>
        </div>
    </div>
</body>
</html>
