<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Rusti</title>
    <link rel="stylesheet" href="{{ "css/error.css" | rusti_static }}">
</head>
<body>
    <header>
        {% include "errors/corps-error/header-error.html" %}
    </header>
    <div class="container">
        <div class="section">
            {% include "errors/corps-error/message-error.html" %}
            {% include "errors/corps-error/stack-trace-error.html" %}
            {% include "errors/corps-error/template-info.html" %}
            {% include "errors/corps-error/request-info.html" %}
            {% include "errors/corps-error/environment-info.html" %}
            {% include "errors/corps-error/status-code-info.html" %}
            {% include "errors/corps-error/footer-error.html" %}
        </div>
    </div>
</body>
</html>