.content {
    margin: 5rem auto 3rem auto;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left : 33.3%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
