<div class="field-group mb-3">
    <label
        for="{{ id }}"
        class="form-label">
        {{ label }}
    </label>

    <input
        type="password"
        name="{{ name }}"
        id="id_{{ name }}"
        value="" {# On force la valeur à vide pour ne jamais afficher le hash #}
        class="form-control {% if error %}is-invalid{% endif %}"
        placeholder="Enter your password">

    {% if error %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endif %}
</div>