<div class="field-group mb-3">
    <label
        for="id_{{ name }}"
        class="form-label">
        {{ label }} <span id="id_{{ name }}_value" class="text-muted">({{ value | default(value=min) }})</span>
    </label>
    <input
        type="range"
        name="{{ name }}"
        id="id_{{ name }}"
        value="{{ value | default(value=min) }}"
        min="{{ min }}"
        max="{{ max }}"
        step="{{ step }}"
        class="form-range {% if error %}is-invalid{% endif %}"
        oninput="document.getElementById('id_{{ name }}_value').textContent = '(' + this.value + ')'">
    {% if error %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endif %}
</div>