<div class="field-group mb-3">
    <label
        for="id_{{ name }}"
        class="form-label">
        {{ label }}
    </label>
    <div class="input-group">
        <span class="input-group-text">/</span>
        <input
            type="text"
            name="{{ name }}"
            id="id_{{ name }}"
            value="{{ value }}"
            pattern="[a-z0-9-_]+"
            class="form-control {% if error %}is-invalid{% endif %}"
            placeholder="mon-slug-url">
    </div>
    {% if error %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endif %}
</div>