<div class="field-group mb-3">
    <label
        for="id_{{ name }}"
        class="form-label">
        {{ label }}{% if required %} *{% endif %}
    </label>
    <textarea
        name="{{ name }}"
        id="id_{{ name }}"
        class="form-control {% if error %}is-invalid{% endif %}"
        rows="5"
        {% if required %}required{% endif %}>{{ value | default(value='') }}</textarea>
    {% if error %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endif %}
</div>