{% extends "index.html" %}
{% block style %}
    {{ super() }}
    <link rel="stylesheet" href='{% static "css/test-field.css" %}'>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="form-container">
            <h1 class="main-title">Test des Fields Runique</h1>
            <!-- Messages flash -->
            {% if messages %}
                {% messages %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf %}
                {% if test_form.errors %}
                    <div class="field-error">
                        {% for field_name, error_message in test_form.errors %}
                            <p><strong>{{ field_name }}:</strong> {{ error_message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6 field-group">
                        {% form.test_form.phone %}
                    </div>
                    <div class="col-md-6 field-group">
                        {% form.test_form.color %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 field-group">
                        {% form.test_form.uuid %}
                    </div>
                    <div class="col-md-6 field-group">
                        {% form.test_form.postal_code %}
                    </div>
                    <div class="col-md-6 field-group">
                        {% form.test_form.description %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 field-group">
                        {% form.test_form.price %}
                    </div>
                    <div class="col-md-6 field-group">
                        {% form.test_form.amount %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 field-group">
                        {% form.test_form.rating %}
                    </div>
                    <div class="col-md-4 field-group">
                        {% form.test_form.quantity %}
                    </div>
                    <div class="col-md-4 field-group">
                        {% form.test_form.discount %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 field-group">
                        {% form.test_form.opening_time %}
                    </div>
                    <div class="col-md-6 field-group">
                        {% form.test_form.duration %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 field-group">
                        {% form.test_form.profile_image %}
                    </div>
                    <div class="col-md-6 field-group">
                        {% form.test_form.attachments %}
                    </div>
                </div>
                <div class="field-group">
                    {% form.test_form.preferences %}
                </div>
                <div class="field-group">
                    {% form.test_form.subscription %}
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-submit">
                        Valider le formulaire
                    </button>
                </div>
            </form>
            <!-- Lien retour -->
            <div class="text-center mt-3">
                <a href="/" class="text-decoration-none">← Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <a href="{% link 'index' %}">Home</a>
    <p>&copy; 2026 My Web Application</p>
{% endblock %}