<div class="field-group mb-3">
    <label for="id_{{ name }}" class="form-label">
        {{ label }}
    </label>

    <input
        type="text"
        name="{{ name }}"
        id="id_{{ name }}"
        value="{{ value }}"
        class="form-control {% if error %}is-invalid{% endif %}"
        placeholder="127.0.0.1"
        pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
        title="Adresse IP valide (ex: 192.168.0.1)">

    {% if error %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endif %}
</div>
