{% extends "index.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{% static "css/inscription.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if title %}{{ title }}{% endif %}</h1>

    {% block messages %}
        {% messages %}
    {% endblock %}

    <div class="form-container demo-form-panel">
        <form method="post">
            {% csrf %}
            {% form.forgot_form %}
            <button type="submit" class="btn btn-primary btn-submit">Send link</button>
        </form>
    </div>
</div>
{% endblock %}
