<nav class="footer-links">
    <a href="{% link 'test_template' %}">Test Template</a>
    <a href="{% link 'login' %}">Se connecter</a>
    <a href="{% link 'profil' %}">Mon profil</a>
    <a href="{% link 'test_fields' %}">Test des champs</a>
    <a href="{% link 'upload_image' %}">Uploader une image</a>
    <a href="{% link "inscription" %}">Inscription</a>
    <a href="{% link "search-user" %}">Recherche utilisateur</a>
    <a href="{% link "about" %}">À propos</a>
    <a href="{% link "blog_info" %}">Blog</a>
    <a href="{% link "index" %}">Accueil</a>
</nav>
<p>&copy; 2026 My Web Application</p>
