<div class="footer-content">
    <div class="footer-links">
        <a href="{% link "index" %}">Back Home</a>
        <a href="{% link "rgpd" %}">Privacy</a>
        <a href="{% link "roadmap" %}">Roadmap</a>
        <a href="{% link "changelog" %}">Changelog</a>
        {% if runique_release %}
        <a href="{{ runique_release.github_url }}" target="_blank">GitHub</a>
        <a href="{{ runique_release.crates_url }}" target="_blank">Crates.io</a>
        <a href="https://github.com/seb-alliot/runique " target="_blank" >GitHub</a>
        {% endif %}
    </div>
    <p>Created by <strong>Itsuki</strong> with {% if runique_release %}<a href="{{ runique_release.github_url }}" target="_blank">Runique</a>{% else %}Runique{% endif %} &mdash; &copy; 2026</p>
</div>