<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="...">
    <title>{{ title }}</title>
    {% block style %}
        <link rel="stylesheet" href='{% static "css/variables.css" %}'>
        <link rel="stylesheet" href='{% static "css/main.css" %}'>
    {% endblock %}
    <link rel="icon" type="image/png" href='{% media "favicon/favicon.ico" %}'>
</head>
<body>

    {% if debug %}
        <div class="debug-banner">
            <strong>Debug Mode Activé</strong>
        </div>
    {% endif %}

    {% block header %}
        <header>
            <img src='{% media "toshiro.avif" %}' alt="Logo">
        </header>
    {% endblock %}

    <main>


        {% block content %}
    <div class="content">
        <div>
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <p>{{ status }}</p>
            <p>{{ backend }}</p>
            <p>{{ template }}</p>
            <p>{{ tokio }}</p>
            <p>{{ session }}</p>
        </div>
    </div>
        {% endblock %}
        {% messages %}
    </main>

    <footer>
        {% block footer %}
            <a href={% link "view-user" %}>Recherche user</a>
            <a href="{% link "user_profile" %}">S'inscrire</a>
            <a href={% link "about" %}>À propos</a>
            <p>&copy; 2025 My Web Application</p>
        {% endblock %}
    </footer>

</body>
