<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "css/variable.css" | runique_static }}">
    <link rel="stylesheet" href="{{ "css/error/error.css" | runique_static }}">
</head>
<body>
    <header>
        {% include "header-error.html" %}
    </header>
    <div class="container">
            {% include "trace-error.html" %}
            {% include "template-info.html" %}
            {% include "request-info.html" %}
            {% include "zone-info.html" %}
            {% include "footer-error.html" %}
    </div>
</body>
</html>