<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Runique</title>
    <link rel="stylesheet" href="{{ "css/error.css" | runique_static }}">
</head>
<body>
    <header>
        {% include "errors/corps-error/header-error.html" %}
    </header>
    <div class="container">
            {% include "errors/corps-error/stack-trace-error.html" %}
            {% include "errors/corps-error/template-info.html" %}
            {% include "errors/corps-error/request-info.html" %}
            {% include "errors/corps-error/environment-info.html" %}  
        <footer>
            {% include "errors/corps-error/footer-error.html" %}
        </footer>
    </div>
</body>
</html>