<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Runique</title>
    <link rel="stylesheet" href="{{ "css/error.css" | runique_static }}">
</head>
<body>
    <header>
        {% include "header-error" %}
    </header>
    <div class="container">
            {% include "trace-error" %}
            {% include "template-info" %}
            {% include "request-info" %}
            {% include "zone-info" %}
        <footer>
            {% include "footer-error" %}
        </footer>
    </div>
</body>
</html>