<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    {% block meta %}{% endblock %}

    <title>{% block title %}{{ title | default(value="") }}{% endblock %}</title>

    {% block style %}{% endblock %}

    {% block head_extra %}{% endblock %}
</head>
<body>

    {% block debug %}
        {% if debug %}
            <div class="debug-banner">
                <strong>Debug Mode Activé</strong>
            </div>
        {% endif %}
    {% endblock %}

    {% block header %}{% endblock %}

    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
