/* Main CSS file for Rusti Framework */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header > img {
    width: 80vw;
    height: 45vh;
    background-size: cover;
    display: block;
    margin: 0 auto;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
}
img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

footer {
    text-align: center;
    background-color: #ffffff;
    color: #888888;
}

footer p {
    margin: 0;
}