{% extends 'index.html' %}
{% block style %}
    {{ super() }}
    <link rel="stylesheet" href='{% static "css/inscription/inscription.css" %}'>
    <link rel="stylesheet" href='{% static "css/inscription/inscription-label.css" %}'>
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>

    {% messages %}

    <form method="post" action="/inscription">
        {% form.inscription_form %}
        <button type="submit">S'inscrire</button>
    </form>
{% if errors %}
        <div class="alert alert-warning mt-3">
            <div class="alert-message">
                <strong>Veuillez corriger les erreurs suivantes :</strong>
                <ul>
                    {# Ici on itère sur la Map renvoyée par Rust #}
                    {% for field_name, error_msg in errors %}
                        <li><strong>{{ field_name }} :</strong> {{ error_msg }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
