{% extends "index.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href='{% static "css/doc.css" %}'>
    <link rel="stylesheet" href='{% static "css/highlight-github-dark.min.css" %}'>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="readme-bar">
    <span class="readme-bar-title">README</span>
    <div class="readme-lang-switch">
        <a href="/readme/fr" class="btn {% if lang == 'fr' %}btn-primary{% else %}btn-secondary{% endif %}">Français</a>
        <a href="/readme/en" class="btn {% if lang == 'en' %}btn-primary{% else %}btn-secondary{% endif %}">English</a>
    </div>
</div>
<div class="readme-container doc-block-content">
    {{ content | markdown }}
</div>
{% endblock %}

{% block scripts %}
<script nonce="{{ csp_nonce }}" src='{% static "js/highlight.min.js" %}'></script>
<script nonce="{{ csp_nonce }}">hljs.highlightAll();</script>
{% endblock %}
