{% extends "index.html" %}
    {% block style %}
        {{ super() }}
        <link rel="stylesheet" href='{% static "css/test_form.css" %}'>
    {% endblock %}
<div class="content">
    {% block content %}
        <link rel="stylesheet" href='{% static "css/search-user.css" %}'>

    <div class="content">
        {% if title %}
            <h1>{{ title }}</h1>
        {% endif %}

        {% if db_error %}
            <div class="alert alert-danger">
                <span class="alert-message">{{ db_error }}</span>
            </div>
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-warning">
                <div class="alert-message">
                    <strong>Veuillez corriger les erreurs suivantes :</strong>
                    <ul>
                        {% for field, error in form.errors %}
                            <li><strong>{{ field }} :</strong> {{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

            <form id="test_new_form" method="POST">
                {% csrf %}
                {% form.test_new_form %}
                <button type="submit">Envoyer</button>
            </form>
        </div>

        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
    <a href={% link "index" %}>Revenir à l'accueil</a>
    <p>&copy; 2025 My Web Application</p>
{% endblock %}